* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    filter: blur(5px);
}

.content {
    overflow: hidden;
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 15px;
}

.top {
    width: 100%;
    height: 18%;
    background: rgb(72, 104, 104);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30%;
}

.elem {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: larger;
}

.box {
    display: flex;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.bottom {
    height: 30%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(72, 100, 104);
    height: 40px;
    width: 40px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.bubble:hover {
    background-color: rgb(58, 84, 83);
}